venv
__pycache__/
*.pyc
*.env
local_setup.py
local_tests.ipynb
tests/
*.exe
state_tracker.yaml
temp/
.env
secrets.yaml

results/

/datasets/**

!/datasets/**/
!/datasets/**/metadata.csv
!/datasets/**/a_00[1-5]_orig.png
!/datasets/**/a_00[1-5]_edited.png

service_account.json

repo_loader.ipynb

baselines/diffusionguard/
baselines/mist/
baselines/photoguard/
project_dctroy/