cloudinary
diff_jpeg @ git+https://github.com/necla-ml/Diff-JPEG@e81f082896ba145e35cc129bc7743244e10881e5
diffusers
kornia
lpips
matplotlib
opencv-contrib-python-headless
pillow
scikit-image
scikit-learn
scipy
sewar
tqdm
gspread
transformers
accelerate